body 
{
    color: black;
    background-color: white;
    font-family: Papyrus, fantasy;
    margin-top: 50px;
}
h2{
    font-family: "Comic Sans MS", fantasy;
}
main{
    border: 2px solid #0A0908;
    margin: 50px;
    padding: 30px;
    padding-top: 10px;
    background-color: black;
    color: white;
}
footer{
    font-family: "Times New Roman", Serif;
}

/*Nav Menu*/
header nav ul
{
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #C36F09;
    border: 2px solid #0A0908;
}
footer nav ul
{
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #A63C06;
    border: 2px solid #0A0908;
}
nav ul li
{
    float: left;
    border-right: 2px solid #0A0908;
}
nav ul li a
{
    display: block;
    color: #F2E9DC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header nav ul li a:hover
{
    background-color: #c78a3f;
}
footer nav ul li a:hover
{
    background-color: #a85228;
}