/*Reset CSS margins*/
*{
    margin: 0;
}

/*Header*/
header{
    text-align: center;
    color: #EBEBEB;
    margin: 0;
}
header a{
    text-decoration: none;
}
h1{
    font-size: 2.15em;
    padding-top: 40px;
    padding-bottom: 40px;
    font-style: normal;
    letter-spacing: 60%;
}

/*Nav Menu*/
header nav ul{
    list-style-type: none;
    box-sizing: border-box;
    background-color: #3E2C49;
    border: 2px solid #141414;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    overflow: hidden;
    float: center;
}
footer nav ul{
    list-style-type: none;
    border: 2px solid #141414;
    border-radius: 10px;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #35273F;
}
nav li{
    float: left;
    border-right: 2px solid #141414;
}
nav li a{
    display: block;
    color: #EBEBEB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: #5a475e;
}

/*Body and contents*/
body {
    color: #999999;
    background-color: #1F1F1F;
    font-family: 'Open Sans', sans-serif;
}
main{
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #333333;
    color: #CCCCCC;
}
main h2{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
    color: #F5F5F5;
}

/*Links*/
main a:link{
    text-decoration: none;
    color: #CEC0D8;
}
main a:visited{
    text-decoration: none;
    color: #A68DB9;
}

/*Main*/
main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%;
}
main div{
    margin-bottom: 40px;
}
form label{
    margin-bottom:5px;
}
form h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Footer*/
footer{
    text-align: center;
}
footer a{
    text-decoration: none;
}
footer p a:link{
    text-decoration: none;
    color: #CEC0D8;
}
footer p a:visited{
    text-decoration: none;
    color: #A68DB9;
}

/*Table Styling*/
table, th, td {
    border: 1px solid rgb(58, 17, 63);
    border-collapse: collapse;
}
th{
    background-color: rgb(156, 105, 39);
}
tr:nth-child(even){
    background-color: rgb(217, 186, 145);
}
tr:nth-child(odd){
    background-color: rgb(161, 127, 82);
}

/*Button Styling*/
button{
    margin: 0.5em 0.5em 0.5em 0em;
    background-color: #AD8350;
    border: none;
    color: #0A0908;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8%;
    transition-duration: 0.4s;
}
.button{
    margin: 0.5em 0.5em 0.5em 0em;
    background-color: #AD8350;
    border: none;
    color: #0A0908;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8%;
    transition-duration: 0.4s;
}
button:hover{
    background-color: #EBEBEB;
}
.button:hover{
    background-color: #EBEBEB;
}

/*Website Evaluation list*/
.eval h3{
    padding-top: 50px;
    font-size: 1.3em;
}
.eval h4{
    padding-top: 10px;
    font-size: 1.15em;
}

/*Calculator*/
.calc div{
    border: 2px solid #000000;
    width: 250x;
    height: 350px;
}
.calc button{
    margin: 0.5em 0.5em 0.5em 0.5em;
    width: 30px;
    height: 30px;
    background-color: #AD8350;
    border: none;
    color: #0A0908;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15%;
    transition-duration: 0.4s;
}
.calc button:hover{
    background-color: #EBEBEB;
}
.calc input{
    margin: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 15%;
    padding: 5px 5px;
}