body 
{
    color: rgb(0, 0, 0);
    background-color: rgb(183, 201, 173);
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
}
header
{
    text-align: center;
    color: rgb(61, 29, 11);
}
footer
{
    text-align: center;
}
main h1
{
    text-align: center;
    font-family: 'Playfair Display', serif;
}
main
{
    border: 2px solid rgb(58, 17, 63);
    margin: 50px;
    padding: 30px;
    padding-top: 10px;
}
table, th, td
{
    border: 1px solid rgb(58, 17, 63);
    border-collapse: collapse;
}
tr::first-line
{
    background-color: rgb(83, 67, 33);
}
tr:nth-child(even)
{
    background-color: rgb(194, 154, 75);
}
tr:nth-child(odd)
{
    background-color: rgb(211, 182, 123);
}

/*Nav Menu*/
#nav_ul
{
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(75, 24, 82);
}
#nav_bot_ul
{
    list-style-type: none;
    margin: 50px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 5, 41);
}
#nav_li
{
    float: left;
}
#nav_li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav_li a:hover
{
    background-color: rgb(58, 74, 99);
}