<!DOCTYPE html>
<body>
    <header>
        <h1>
            Ethan Prince's Eclectic Platypus | ITIS 3135
        </h1>
        <!-- Header Nav Bar -->
        <nav>
            <ul>
                <li><a href = "./">Home</a></li>
                <li><a href = "./introduction.html">Introduction</a></li>
                <li><a href = "./contract.html">Contract</a></li>
                <li><a href = "./tables.html">Tables</a></li>
                <li><a href = "./forms.html">Forms</a></li>
                <li><a href = "./website_evaluations.html">Site Evaluations</a></li>
                <li><a href = "./firstscripts.html">First Scripts</a></li>
                <li><a href = "./polygon.html">Polygons</a></li>
                <li><a href = "./calculator_try.html">Calculator</a></li>
                <li><a href = "./arrays.html">Arrays</a></li>
                <li><a href = "./bad/index.htm">Beware...</a></li>
            </ul>
        </nav>
    </header>
</body>