<!DOCTYPE html>
<header>
    <h1>
        Ethan Prince's Eclectic Platypus | ITIS 3135
    </h1>
    <!-- Header Nav Bar -->
    <nav>
        <ul>
            <li><a href = "./">Home</a></li>
            <li><a href = "./introduction.html">Introduction</a></li>
            <li><a href = "./contract.html">Contract</a></li>
            <li><a href = "./firstscripts.html">First Scripts</a></li>
            <li class="dropdown">
                <div class="nav_el">Assignments
                </div>
                <div class="dropdown-content">
                    <a href = "./tables.html">Tables</a>
                    <a href = "./forms.html">Forms</a>
                    <a href = "./website_evaluations.html">Site Evaluations</a>
                    <a href = "./polygon.html">Polygons</a>
                    <a href = "./calculator_try.html">Calculator</a>
                    <a href = "./arrays.html">Arrays</a>
                    <a href = "./slideshow.html">Slideshow</a>
                    <a href = "./activity_10/Activity10.html">Activity 10</a>
                    <a href = "./activity_12/Prince-Activity12.html">Activity 12</a>
                </div>
            </li>
            <li class="dropdown">
                <div class="nav_el">Client Work
                </div>
                <div class="dropdown-content">
                    <a href = "./project_1.html">Client Project Outline</a>
                    <a href = "./grimoire.wiki/">Client Project Site</a>
                </div>
            </li>
        </ul>
    </nav>
</header>