<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@0,500;0,600;1,400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Playfair+Display:ital,wght@0,500;0,600;1,400&display=swap" rel="stylesheet">
<link href = "./styles/default.css" rel = "stylesheet">

<!-- Header Nav Bar -->
<nav>
    <ul>
        <li><a href = "./">Home</a></li>
        <li><a href = "./introduction.html">Introduction</a></li>
        <li><a href = "./contract.html">Contract</a></li>
        <li><a href = "./tables.html">Tables</a></li>
        <li><a href = "./forms.html">Forms</a></li>
        <li><a href = "./website_evaluations.html">Site Evaluations</a></li>
        <li><a href = "./bad/index.htm">Beware...</a></li>
    </ul>
</nav>