<!DOCTYPE html>
<header>
    <table>
        <tr>
            <td rowspan="2" class = "image_td">
                IMAGE
            </td>
            <td>
                <h1>
                    GRIMOIRE WIKI
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                <nav>
                    <ul>
                        <li><a href = "./">Home</a></li>
                        <li><a href = "./">Characters</a></li>
                        <li><a href = "./">Classes</a></li>
                        <li><a href = "./">Lore</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
    </table>
</header>