<!DOCTYPE html>
<header>
    <table>
        <tr>
            <td rowspan="2" class = "image_td">
                <img src="./images/pexels-nitin-arya-1029141.jpg" alt="Grimoire Title Photo" srcset="">
            </td>
            <td>
                <h1>
                    GRIMOIRE WIKI
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                <nav>
                    <ul>
                        <li><a href = "./">Home</a></li>
                        <li><a href = "./classes.html">Classes</a></li>
                        <li><a href = "./weapons.html">Weapons</a></li>
                        <li><a href = "./armor.html">Armor</a></li>
                        <li><a href = "./locations.html">Locations</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
    </table>
</header>